# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace

# User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# General
.DS_Store
*.plist~
